{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="p-5 text-center">Accueil</h1>
    <p class=" text-center">Bienvenus sur ce super forum!</p>

<<<<<<< HEAD
    <a href="{{ path('app_login') }}" class="btn btn-primary">Je me connecte</a>

    <p>Pas de compte?</p>
    <a href="{{ path('app_register') }}" class="btn btn-primary">Je m'inscris</a>
=======
    <form class="">
        <div class="mb-3 form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="mb-3 form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="mb-3 form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="p-3 text-center">
        <p>Pas de compte?</p>
        <button type="button" class="btn btn-primary">Je m'inscris</button>
    </div>
>>>>>>> integration

{% endblock %}
