{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="p-5 text-center">Accueil</h1>
    <p>Bienvenue sur ce super forum!</p>

    <a href="{{ path('app_login') }}" class="btn btn-primary">Je me connecte</a>

    <p>Pas de compte?</p>
    <button type="button" class="btn btn-primary">Je m'inscris</button>

{% endblock %}
