{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1 class="p-5 text-center">Accueil</h1>

    <a href="{{ path('app_login') }}" class="btn btn-primary">Je me connecte</a>

    <p>Pas de compte?</p>
    <a href="{{ path('app_register') }}" class="btn btn-primary">Je m'inscris</a>

{% endblock %}
