{% extends 'base.html.twig' %}

{% block title %}Poster{% endblock %}

{% block body %}
    <h1 class="p-5 text-center">Poster</h1>
    
    <form> {# Formulaire un post #}
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Commenter</button>
    </form>

{% endblock %}
